{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'my_orders' %}">My Orders</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<h1>Products</h1>
<a href="{% url 'cart' %}">View Cart</a>
{% for product in products %}
    <div>
        <h2>
            <a href="{% url 'product_detail' product.pk %}">
                {{ product.name }}
            </a>
        </h2>
        <p>£{{ product.price }}</p>
        <a href="{% url 'add_to_cart' product.pk %}">
        Add to Cart
        </a>
    </div>
    <hr>
{% endfor %}